services:
  api:
    image: goliath02/bsc_registration:2.0
    container_name: bsc-registration-server
    platform: ${DOCKER_DEFAULT_PLATFORM}
    env_file:
      - dev.env
    volumes:
      - ./logs:/app/logs
      - ./config:/app/config
    restart: always
    depends_on:
      - postgres_db
    networks:
      - backend

  nginx:
    image: nginx:1.27.2-alpine-slim
    container_name: nginx_proxy
    platform: ${DOCKER_DEFAULT_PLATFORM}
    ports:
      - "80:80"
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf
    restart: always
    networks:
      - backend

  postgres_db:
    image: postgres:latest
    platform: ${DOCKER_DEFAULT_PLATFORM}
    container_name: PostgresCont
    restart: always
    env_file:
      - dev.env
    ports:
      - '127.0.0.1:5432:5432'
    volumes:
      - ./db:/data/postgres
    networks:
      - backend

networks:
  backend: