services:
  api:
    image: goliath02/bsc_registration:latest
    container_name: bsc-registration-server
    env_file:
      - dev.env
    volumes:
      - ./logs:/app/logs
      - ./config:/app/config
      - ./src/main/resources/bscConf.json:/app/config/bscConf.json:ro
    environment:
      - CONFIG_FILE_PATH=/app/config/bscConf.json
    restart: always
    depends_on:
      - postgres_db
    networks:
      - backend

  nginx:
    image: nginx:1.27.2-alpine-slim
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf
    restart: always
    networks:
      - backend

  postgres_db:
    image: postgres:17-alpine
    container_name: PostgresCont
    restart: always
    env_file:
      - dev.env
    ports:
      - '127.0.0.1:5432:5432'
    volumes:
      - ./db:/data/postgres
    networks:
      - backend

networks:
  backend: